h1 {
  margin: 20px 0 auto;
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.weather {
  border: 2px solid #bdbadb;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: rgb(188, 201, 210);
}
